<%
/*******************************************************************************
 * Juego de Gato distribuido
 * Aplicación de página única (SPA: Single-Page Application).
 * Copyright (C) 2013-2016 por Ariel Ortiz
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 ******************************************************************************/
%>

<!DOCTYPE html>

<html lang="es">

  <head>
    <meta charset="utf-8" />
    <title>Juego de Gato</title>
    <link rel="stylesheet" href="/stylesheets/cliente-web-gato.css" />
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
    <script src="/javascripts/cliente-web-gato.js"></script>
  </head>

  <body>

    <!------------------------------------------------------------------------->
    <img src="/images/gato.png" alt="" width="100" height="100"/>
    <h1>
      Juego de Gato
    </h1>

    <!------------------------------------------------------------------------->
    <div id="seccion_menu">
      <h2>
        Menú principal
      </h2>
      <p>
        <button id="boton_crear_juego">
          Crear un nuevo juego
        </button>
        <button id="boton_unir_juego">
          Unirse a un juego existente
        </button>
      </p>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_error" class="invisible">
      <p>
        <span class="resalta">
          <strong>
            Error:
          </strong>
          <span id="mensaje_error">
          </span>
        </span>
      </p>
      <button class="regresar_al_menu">
        Menú principal
      </button>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_mensajes" class="invisible">
      <p id="mensaje_1">
      </p>
      <p id="mensaje_2">
        Tú tiras con: <strong id="simbolo"></strong>
      </p>
      <p id="mensaje_3">
      </p>
      <button id='boton_mensajes_regresar_al_menu' class="invisible regresar_al_menu">
        Menú principal
      </button>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_solicitar_nombre" class="invisible">
      <form id="form_nombre_del_juego">
        <p>
          <label for="nombre_del_juego">
            Indica el nombre del juego:
          </label>
        </p>
        <input id="nombre_del_juego" type="text" size="20"/>
        <p>
          <button id="boton_continuar_crear_juego">
            Continuar
          </button>
          <button class="regresar_al_menu">
            Cancelar
          </button>
        </p>
      </form>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_sin_juegos" class="invisible">
      <p>
        No hay juegos disponibles.
      </p>
      <button class="regresar_al_menu">
        Menú principal
      </button>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_lista_juegos" class="invisible">
      <form id="form_lista_juegos">
        <p>
          <label for="lista_juego">
            ¿A qué juego deseas unirte?
          </label>
          <select id="lista_juego" name="nombre">
          </select>
        </p>
        <p>
          <button id="boton_continuar_unir_juego">
            Continuar
          </button>
          <button class="regresar_al_menu">
            Cancelar
          </button>
        </p>
      </form>
    </div>

    <!------------------------------------------------------------------------->
    <div id="seccion_tablero" class="invisible">
      <table>
      <% for (var i = 0; i < 3; i++) {
      %>  <tr><% for (var j = 0; j < 3; j++) { %>
          <td id="c<%= i %><%= j %>" class="desactivo">
          </td><% } %>
        </tr>
      <% } %></table>
    </div>

    <footer>
      © 2013-2016 por Ariel Ortiz, ITESM CEM.
    </footer>

  </body>

</html>
