<h1> Configurar tu Tablero </h1>

<div style="float:center">

<div class="alert alert-warning">
  <strong>Barco a Colocar: </strong> {{barcoAcolocar.name}}
  <strong>Posiciones: </strong> {{barcoAcolocar.size}}
</div>

<h3>Elegir Orientación</h3>

<p><strong>Horizontal</strong>  click izquierdo (Donde des click es posicion inicial, y de ahí hacia la derecha)</p>
<p> <strong>Vertical</strong>  click derecho (Donde des click es posicion inicial, y de ahí hacia abajo)</p></p>

<br/>

<hr/>

<div class="row" >

    <div class="col-xs-1 coordniceassblue" ng-repeat="numero in numeros">{{numero}}</div>

</div>

<div class="row" ng-repeat="fila in TableroJugador track by $index">
    
    <div class="col-xs-1 col-md-1 validposicion_tablero" 
    ng-mousedown="(determinarLleno(TableroJugador.indexOf(fila), $index)) || guardar($event,TableroJugador.indexOf(fila), $index, orientacion)" 
    ng-class="{'activo': determinarLleno(TableroJugador.indexOf(fila), $index)}"
    style="border-style: solid; height:50px" ng-repeat="columna in fila track by $index">

    

    </div>
    
    <div class="col-xs-1 coordniceassred">{{letras[$index]}}</div>
</div>

<div>