<h1> Tablero del juego </h1>

<div style="float:center">

<div class="alert alert-info">
  <strong>Estatus</strong> {{mensaje}}
</div>

<!--p>Elige orientación, si es Horizontal se contará de la coordenada inicial a la derecha; si es Vertical, hacia abajo</p>

<br/>

<select id="orientationSelect" class="form-control" ng-model="orientacion">

    <option value="h" selected>Horizontal</option>
    <option value="v">Vertical</option>

</select!-->


<hr/>

<div class="row" >

    <div class="col-xs-1 coordniceassblue" ng-repeat="numero in numeros">{{numero}}</div>

</div>

<div class="row" ng-repeat="fila in tableroJugador track by $index">
    
    <div class="col-xs-1 validposicion_tablero"
    ng-click="realizarTiro(tableroJugador.indexOf(fila), $index)"
    ng-class="{'tirado_agua': determinarLleno(tableroJugador.indexOf(fila), $index)===1, 
               'tirado_tocado' : determinarLleno(tableroJugador.indexOf(fila), $index)===2}"
    style="border-style: solid; height:50px" ng-repeat="columna in fila track by $index">

       

    </div>
    <div class="col-xs-1 coordniceassred">{{letras[$index]}}</div>
    
</div>

<div>